In [ ]:
#Actividad 2.- Ejercicios en Python
# DANIELA PRISCILA DELGADILLO ESQUIVEL    MATRICULA: 1909350

In [79]:
#Ejercicio 1
nom =input("ingresa tu nombre:") #input te permite agregar un dato variable
a="Ana"
b="Pedro"
c="Juan"
 
if nom== a or nom== b or nom== c:
   print ("Ese nombre no está permitido")
else:
    print ("Hola",nom + ". Buen día")

ingresa tu nombre:Ana
Ese nombre no está permitido

In [80]:
#Ejercicio 2

list =[1,2,3,4,5,6,7,8,9,10]
print(list)
print(list[-1]) #para seleccionar el ultimo numero a la lista
list.reverse ()
print (list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
10
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [81]:
#Ejercicio 3

lista=["Hola","a","todos","hoy","se","entrega","la","tarea"]
print ("***************")


for tXt in lista:
  print("*"+ tXt.ljust(13," ") + "*")

  #Fuera del for se escribe print *** para que no se imprima en
print ("***************")

***************
*Hola         *
*a            *
*todos        *
*hoy          *
*se           *
*entrega      *
*la           *
*tarea        *
***************